---
import PageLayout from '@/layouts/PageLayout.astro'
import Highlight from '@/components/Highlight.astro'
import { getAllPicList } from '@/utils/gallery'
import { Gallery } from '@/components/gallery/Gallery'

const picList = await getAllPicList()
---

<PageLayout title="画廊">
  <div class="max-w-[800px] mx-auto px-4 py-16">
    <header class="space-y-4 mb-8">
      <h1 class="text-4xl font-bold">
        <Highlight>画廊</Highlight>
      </h1>
    </header>

    <Gallery list={picList} client:only />
  </div>
</PageLayout>
